* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px 50px; /* grid-row-gap, grid-column-gap */
    
}

.container > div {
    text-align: center;
}

.c1 {
    /* grid-column-start: 2; 位置從 1 開始 */
    /* grid-column-end: 4; */
    /* grid-row-start: 2; */
    /* grid-row-end: 4; */

    /* grid-column: 2 / 4; */
    /* grid-row: 2 / 4; */

    /* grid-column: 2 / span 2; */
    /* grid-row: 2 / span 2; */

    grid-area: 2/2/4/4;
}

